@import url(./__container/page__container.css);
@import url(./__header/page__header.css);
@import url(./__profile/page__profile.css);
@import url(./__gallery/page__gallery.css);

.page {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Inter, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* { outline: 2px dotted red; }
* * { outline: 2px dotted green; }
* * * { outline: 2px dotted orange; }
* * * * { outline: 2px dotted blue; }
* * * * * { outline: 1px solid red; }
* * * * * * { outline: 1px solid green; }
* * * * * * * { outline: 1px solid orange; }
* * * * * * * * { outline: 1px solid blue; }