.profile-edit-form__submit-button {
    margin: 48px 0 37px;
    width: 358px;
    padding: 14px 0 18px;
    border: 0;
    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    transition: background 0.4s ease;
}

.profile-edit-form__submit-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
    .profile-edit-form__submit-button {
        width: 90%;
    }
}