.header__logo {
    margin-bottom: 40px;
    width: 142px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 103px;
        margin-bottom: 31px;
        margin-left: 27px;
    }
}